/* register.component.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    max-width: 400px;
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field {
    margin-bottom: 15px;
  }
  
  button {
    align-self: flex-end;
  }
